html{
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #171a21, #1b2838) fixed;
    color: white;
    text-align: center;
}

h1{
    color: white;
}

a:link {
  color: #66c0f4;
}

a:visited {
  color: #66c0f4;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.postlist{
    width: 50%;
    margin: auto;
    text-align: center;
}

.currpost{
    border-radius: 25px;
    border: 1px solid #000000;
    background: linear-gradient(#2a475e, #1b2838);
}

.currpost button{
    border: 1px solid black;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #d72b2b, #ff2e2e);
    padding: 10px 10px;
}

.currpost button:hover{
    background-image: linear-gradient(45deg, #bd1010, #c92424);
}

.postcontent{
    width: 80%;
    margin: auto;
}

.commentlist{
    max-height: 200px;
    overflow: auto;
}

.comments{
    color: white;
    border-radius: 25px;
    border: 1px solid #000000;
    width: 99%;
    margin: auto;
    overflow: auto;
    background: linear-gradient(#2a475e, #395f7f);
}

.sendcomment{
    margin: auto;
    text-align: center;
}

#unblockBtn{
    border: 1px solid #23ff00;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #109b1b, #0ed91a);
    padding: 10px 10px;
}

#unblockBtn:hover{
    background-image: linear-gradient(45deg, #197c10, #339d11);
}