html{
    font-family: Georgia, serif;
    background-image: linear-gradient(45deg, #a84fff, #9c30ff);
    color: #000000;
    text-align: center;
}

h1{
    text-align: center;
}

.friendslist{
    margin: auto;
    height: 500px;
    width: 30%;
    background: #cccccc;
    overflow: auto;
    border: 1px solid #760e7a;
}