html{
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #171a21, #1b2838) fixed;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

a:link {
  color: #66c0f4;
    text-decoration: none;
}

a:visited {
  color: white;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.postlist{
    width: 50%;
    margin: auto;
    text-align: center;
}

.currpost{
    border-radius: 25px;
    border: 1px solid #000000;
    background: linear-gradient(#2a475e, #1b2838);
}

.currpost button{
    border: 1px solid black;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #d72b2b, #ff2e2e);
    padding: 10px 10px;
}

.currpost button:hover{
    background-image: linear-gradient(45deg, #bd1010, #c92424);
}

.postcontent{
    width: 80%;
    margin: auto;
}

.commentlist{
    max-height: 200px;
    overflow: auto;
}

.comments{
    color: white;
    border-radius: 25px;
    border: 1px solid #000000;
    width: 99%;
    margin: auto;
    overflow: auto;
    background: linear-gradient(#2a475e, #395f7f);
    text-align: left;
    text-indent: 20px;
}

.sendcomment{
    margin: auto;
    text-align: center;
}

img {
  border: 1px solid black;
    border-radius: 25px;
}

#commentSend{
    border: 1px solid black;
    border-radius: 20px;
    color: #ffffff;
    background: linear-gradient(#2a475e, #1b2838);
    padding: 10px 10px;
}

#comment_input {
    border-radius: 20px;
    border: 1px solid black;
    margin:auto;
    text-align: center;
}

input[type="text"]
{
    font-size:15px;
}

#commentSend:hover{
    background-image: linear-gradient(#1b2838, #2a475e);
}

#postprofileimg{
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: -10px;
}

#commentprofileimg {
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: -5px;
}