* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    font-family: Georgia, serif;
    background-color: #2c345b;
    /* background-image: linear-gradient(45deg, #2c345b, #2c345b); */
}

.result{
    font-size: large;
    text-align: center;
    color: #5c9fef;
}

h1{
    text-align: center;
    color: #66c0f4;
}

h2{
    text-align: center;
    color: #66c0f4;
}

p{
    color: #5c9fef;
}


  .postlist{
  cursor: pointer;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  }
  
/*
.postlist{
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  }
*/

.currpost{
    border: none;
    background: #2c345b;
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.currpost button{
    border: 1px solid #ff1a1a;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #d72b2b, #ff2e2e);
    padding: 10px 10px;
}

.currpost button:hover{
    background-image: linear-gradient(45deg, #bd1010, #c92424);
}



.postcontent{
    border: none;
    width: 80%;
    margin: auto;
}

.commentlist{
    max-height: 200px;
    overflow: auto;
}

.comments{
    width: 99%;
    margin: auto;
    overflow: auto;
    padding-right: 14%;
    color: #66c0f4;
}

.sendcomment{
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    margin: auto;
    text-align: center;

}

#commentSend{
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, rebeccapurple, mediumpurple);
    padding: 10px 10px;
}

#commentSend:hover{
    background-image: linear-gradient(45deg, #4f2678, #6e53a6);
}

#comment_input{
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    margin: auto;
    text-align: center;   
}

input[type="text"]
{
    font-size:30px;
}