html{
    font-family: Georgia, serif;
    background: #a84fff;
}

h1{
    text-align: center;
    color: #000000;
}

h2{
    text-align: center;
    color: #000000;
    font-size: 20px;
}

.submission{
    text-align: center;
    margin: auto;
    width: 20%;
    height: 100%;
    padding: 20px;
    background-image: linear-gradient(45deg, #e861a5, #8A2BE2);
    border-radius: 8px;
}

label{
    font-size: 24px;
    color: white;
    font-weight: bold;
}

input[type=submit]{
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, rebeccapurple, mediumpurple);
    padding: 10px 25px;
    box-shadow: 5px 5px 5px rebeccapurple;
}

input[type=submit]:hover{
    background-image: linear-gradient(45deg, #4f2678, #6e53a6);
}

.alert{
    margin: auto;
    width: 30%;
    background: indianred;
    border: 1px solid red;
}

.result{
    font-family: Georgia, serif;
    background-image: linear-gradient(to right, limegreen, darkgreen);
}