html{
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #171a21, #1b2838) fixed;
    margin-right: 2%;
}

h1{
    text-align: center;
    color: white;
}

h3{
    background-color: #1e2838;
    box-shadow: 5px 5px 5px black;
    padding: 2px 0px 2px 5px;
    text-align: left;
    min-height: 130px;
}

img{
    max-height: 128px;
    max-width: 128px;
    border: 1px solid white;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
}