html{
    font-family: Georgia, serif;
    background: gray;
    color: #000000;
    text-align: center;
}

h1{
    text-align: center;
}

.messagelist{
    margin: auto;
    width: 75%;
    word-break: break-word;
    overflow: auto;
    background: #cccccc;
    border: 1px solid #f6ff00;
}

.usermsg{
    height: 30px;
    text-align: right;
}

.friendmsg{
    text-align: left;
}