.bar ul{
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(180deg, #c7d5e0, #c7d5e0);
}

.bar ul li{
    float: left;
}

.bar ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #000000;
}

.bar ul li a:hover{
    background-image: linear-gradient(180deg, #2a475e, #2a475e);
}

#search{
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    margin: auto;
    text-align: center;

}

#searchBtn{
    display: inline-block;
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #090b0c, #07090a);
    padding: 10px 10px;
}

#searchBtn:hover{
    background-image: linear-gradient(45deg, #0b0d0f, #0b0d0f);
}

body{
    padding-top: 50px;
}

input[type="text"]
{
    font-size:20px;
}