.bar ul{
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(#2a475e, #1b2838);
}

.bar ul li{
    float: left;
}

.bar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #000000;
}

.bar ul li a:hover{
    background: linear-gradient(to bottom, #171a21, #1b2838) fixed;
}

#searchBtn{
    margin-top: 3px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    color: #ffffff;
    background: linear-gradient(#2a475e, #1b2838);
    padding: 10px 10px;
}

#searchBtn:hover{
    background: linear-gradient(#1a2c3a, #1b2838);
}

body{
    padding-top: 50px;
}