* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    --cs-color: #05070a;
    --cs-background: #1557a7;
  }

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

.sidebarOption .material-icons{
  padding: 20px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }

  .sidebarOption:hover {
    background-color: var(--cs-background);
    border-radius: 30px;
    color: var(--cs-color);
    transition: color 100ms ease-out;
  }
  
  .sidebarOption.active {
    color: var(--cs-color);
  }

  body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }

  .sidebar {
    border-right: 1px solid red;
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }