html{
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #171a21, #1b2838) fixed;
    margin-right: 20%;
    margin-left: 20%;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
    font-size: smaller;
}

h4{
    background-color: #1e2838;
    box-shadow: 5px 5px 5px black;
    padding: 2px 0px 2px 5px;
    text-align: left;
    min-height: 130px;
}

#itemimg2{
    max-height: 128px;
    max-width: 128px;
    border: 1px solid white;
    float: left;
    margin-left: 1%;
    margin-top: -1.5%;
}
a:link {
  color: #66c0f4;
}

a:visited {
  color: #66c0f4;
}

a:hover {
  text-decoration: underline;
}

a:active {
}

.accordion > input[name="collapse"] {
    display:none;
}

.accordion .content {
  background: linear-gradient(to bottom, #171a21, #1b2838) fixed;
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.accordion label {
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  background: linear-gradient(#2a475e, #1b2838);

}

.accordion label:hover,
.accordion label:focus {
  background: #252525;
}

.accordion .handle label:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;

}

.accordion > input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}
.accordion > input[name="collapse"]:checked ~ .content {
    max-height: 10000000px;
  height: auto;
  transition: max-height 0.35s ease-out;
}
.postlist{
    width: 50%;
    margin: auto;
    text-align: center;
}

.currpost{
    border-radius: 25px;
    border: 1px solid #000000;
    background: linear-gradient(#2a475e, #1b2838);
}

.currpost button{
    border: 1px solid black;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #d72b2b, #ff2e2e);
    padding: 10px 10px;
}

.currpost button:hover{
    background-image: linear-gradient(45deg, #bd1010, #c92424);
}

.postcontent{
    width: 80%;
    margin: auto;
}

.commentlist{
    max-height: 200px;
    overflow: auto;
}

.comments{
    color: white;
    border-radius: 25px;
    border: 1px solid #000000;
    width: 99%;
    margin: auto;
    overflow: auto;
    background: linear-gradient(#2a475e, #395f7f);
}

.sendcomment{
    margin: auto;
    text-align: center;
}
img {
  border: 1px solid black;
    border-radius: 25px;
}

#profileimg {
    border: 1px solid black;
    border-radius: 50%;
}

#commentSend{
    border: 1px solid black;
    border-radius: 20px;
    color: #ffffff;
    background: linear-gradient(#2a475e, #1b2838);
    padding: 10px 10px;
}

#commentSend:hover{
    background-image: linear-gradient(#1b2838, #2a475e);
}