html{
    font-family: Georgia, serif;
    background-image: linear-gradient(45deg, #a84fff, #9c30ff);
    color: #000000;
    text-align: center;
}

h1{
    color: #000000;
}

.postlist{
    width: 50%;
    margin: auto;
    text-align: center;
}

.currpost{
    border: 3px solid #000000;
    background: #cccccc;
}

.currpost button{
    border: 1px solid #ff1a1a;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #d72b2b, #ff2e2e);
    padding: 10px 10px;
}

.currpost button:hover{
    background-image: linear-gradient(45deg, #bd1010, #c92424);
}

.postcontent{
    border: 2px solid #000000;
    width: 80%;
    margin: auto;
}

.commentlist{
    max-height: 200px;
    overflow: auto;
}

.comments{
    border: 1px solid #000000;
    width: 99%;
    margin: auto;
    overflow: auto;
    background: #c958e7;
}

.sendcomment{
    margin: auto;
    text-align: center;
}

#commentSend{
    border: 1px solid rebeccapurple;
    border-radius: 20px;
    color: #ffffff;
    background-image: linear-gradient(45deg, rebeccapurple, mediumpurple);
    padding: 10px 10px;
}

#commentSend:hover{
    background-image: linear-gradient(45deg, #4f2678, #6e53a6);
}