{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/blocked.css') }}">
{% endblock %}

{% block content %}
    <h1>Any blocked posts will appear here.</h1>
    <div id="postlist" class="postlist">
    {% for post in posts %}
        {% if post.blocked=='true' %}
        <div id="currpost" class="currpost">
            {% for user in users %}
                {% if post.uID == user.userid %}
                    <center><h2><a href="/profile/{{ user.username }}">{{ user.username }}</a></h2></center>
                {% endif %}
            {% endfor %}
            <div id="postcontent" class="postcontent">
            <center><h3><p style="color:white";>{{post.description}}</p></h3></center>
            {% if post.image != None %}
	            <center><img src="data:{{post.mimetype}};base64,{{post.image}}" width="300"/></center>
            {% endif %}

            </div><br>

            <center><div id="commentlist"  class="commentlist">
            {% for comment in comments %}
                {% if comment.postID == post.postID %}
                    {% for user in users %}
                        {% if comment.commenterID==user.userid %}
                            <div class="comments"><h4><p>{{ user.username }}: {{ comment.textComment }}</p></h4></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div><br>
            </center>
            <center><form id="unblockpost" method="post" >
                    <input type="hidden" id="postID" name="postID" value="{{ post.postID }}">
                    <input type="hidden" id="unblock" name="unblock">
                    <button type="submit" id="unblockBtn">Unblock Post</button>
            </form></center>
            <br>
        </div>
         {% endif %}
    {% endfor %}
    </div>

{% endblock %}
