{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/post.css') }}">
{% endblock %}

{% block content %}
    <h1 class="post">Create Post</h1>
*Still need to implement rich text so the buttons actually work*<br>
    <form id="userpost" enctype="multipart/form-data" method="post" title="Post">
            <input type = "checkbox" name = "bold" value = "B"> B
            <input type = "checkbox" name = "italic" value = "I"> I
            <input type = "checkbox" name = "underline" value = "U"> U
        <div class="postfield">
            <textarea rows="4" cols="80" name="usertext" wrap="hard" placeholder="Enter your thoughts here." form="userpost"></textarea><br>
            <label for="img">Attach image:</label>
            <input type="file" id="img" name="img" accept=".png, .jpg, .jpeg"><br>
            <input type="submit" value="Post" onclick = "alert('Thanks for Post {{name}}')">
        </div><br>
    </form>
{% endblock %}