<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Friends List</h1>
        <ul>
            {% for friend in friends %}
                <li>{{ friend.username }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('app.home') }}">Back to Home</a>
    </div>
</body>
</html>