{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="result">
            Welcome, {{name}}.<br><br>
    </div>
    <div id="postlist" class="postlist">
    {% for post in posts %}
        {% if post.blocked=='false' %}
        <div id="currpost" class="currpost">
            {% if userlevel=='admin' %}
                    <br><form id="blockpost" method="post" >
                        <input type="hidden" id="postID" name="postID" value="{{ post.postID }}">
                        <input type="hidden" id="block" name="block">
                        <button type="submit">Block Post</button>
                    </form>

            {% endif %}
            {% for user in users %}
                {% if post.uID == user.userID %}
                    <h2><p>{{user.username}}'s post</p></h2>
                {% endif %}
            {% endfor %}
            <div id="postcontent" class="postcontent">
            {% if post.image != None %}
	            <img src="data:{{post.mimetype}};base64,{{post.image}}" width="600"/>
            {% endif %}
                <h3><p>{{post.description}}</p></h3>
            </div><br>

                <div id="commentlist"  class="commentlist">
            {% for comment in comments %}
                {% if comment.postID == post.postID %}
                    {% for user in users %}
                        {% if comment.commenterID==user.userID %}
                            <div class="comments"><h4><p>{{ user.username }}: {{ comment.textComment }}</p></h4></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
            <br>

            <form id="sendcomment" method="post">
                <input type="text" id="comment_input" name="comment_input" placeholder="Comment on post">
                <input type="hidden" id="comment" name="comment">
                <input type="hidden" id="postID" name="postID" value="{{ post.postID }}">
                <button type="submit" id="commentSend">Send</button>
            </form>
            <br>
         </div>
         {% endif %}
    {% endfor %}
    </div>

{% endblock %}