{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/home.css') }}">
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <h1 class="result">
            Welcome, {{name}}.<br><br>
            Welcome, {{name}}.<br><br>
    </h1>
    <div id="postlist" class="postlist">
    <div id="postlist" class="postlist">
    {% for post in posts %}
        {% if post.blocked=='false' %}
        <div id="currpost" class="currpost">
            {% if userlevel=='admin' %}
                    <center><br><form id="blockpost" method="post" >
                        <input type="hidden" id="postID" name="postID" value="{{ post.postID }}">
                        <input type="hidden" id="block" name="block">
                        <button type="submit">Block Post</button>
                    </form></center>
            {% endif %}
            {% for user in users %}
                {% if post.uID == user.userID %}
                    <center><h2><a href="/profile/{{ user.username }}">
                        {% for key, value in myDict.items() %}
                            {% if key == user.userID %}
                                <img id="postprofileimg" src="{{ value }}" height="60px"/>
                                {% else %}
                            {% endif %}
                        {% endfor %}
                    {{ user.username }}</a></h2></center>
                {% endif %}
            {% endfor %}
            <div id="postcontent" class="postcontent">
            <center><h3><p style="color:white";>{{post.description}}</p></h3></center>
            {% if post.image != None %}
	            <center><img src="data:{{post.mimetype}};base64,{{post.image}}" width="600"/></center>
            {% endif %}
            </div><br>

            <center><div id="commentlist"  class="commentlist">
            {% for comment in comments %}
                {% if comment.postID == post.postID %}
                    {% for user in users %}
                        {% if comment.commenterID==user.userID %}
                            <div class="comments"><h4><p>
                                {% for key, value in myDict.items() %}
                                    {% if key == user.userID %}
                                        <img id="commentprofileimg" src="{{ value }}" height="25px"/>
                                    {% endif %}
                                {% endfor %}
                                <a href="/profile/{{ user.username }}">{{ user.username }}</a>: {{ comment.textComment }}</p></h4></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
            </center><br>

            <center><form id="sendcomment" method="post">
                <input type="text" id="comment_input" name="comment_input" placeholder="Comment on post">
                <input type="hidden" id="comment" name="comment">
                <input type="hidden" id="postID" name="postID" value="{{ post.postID }}">
                <button type="submit" id="commentSend">Send</button>
            </form>
            </center>
            <br>
         </div>
         {% endif %}
    {% endfor %}
    </div>
    </div>

{% endblock %}