<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static' , filename='css/login.css') }}">
    </head>
    <body>
        <h1>Welcome!</h1>
        <h2>Sign in to continue.</h2>
        <form id="signin" method="post" title="Home">
            <div class="submission">
                <label>Account Sign In</label><br><br>
                <label for="username">Username</label><br>
                <input type="text" placeholder="Enter username" id="username" name='username'><br><br>
                <label for="password">Password</label><br>
                <input type="password" placeholder="Enter password" id="password" name='password'><br><br><br>
                <input type="submit" value="Login"> <br><br>
                <p><a style="color:white" href="{{url_for('register')}}"> Register?</a></p>
            </div><br>
        </form>
    </body>
</html>