{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/post.css') }}">
{% endblock %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script>
        const socket = io.connect();

        socket.on('connect', function () {
            socket.emit('joined', {
                user:"{{ name }}",
                userID:"{{ sendersID }}",
                friendID:"{{ friendID }}",
                friend:'{{ friend }}'
            })

            let message_input = document.getElementById('message_input');
            document.getElementById('sendmessage').onsubmit = function (e) {
                e.preventDefault();
                let message = message_input.value.trim();
                if (message.length) {
                    var newMSG = '<div class="usermsg"><h2> You : ' + message + ' </h2></div>';
                    document.getElementById('messagelist').insertAdjacentHTML('beforeend',newMSG);

                    socket.emit('sendMessage', {
                        user:"{{ name }}",
                        userID:"{{ sendersID }}",
                        friendID:"{{ friendID }}",
                        friend:"{{ friend }}",
                        message:message
                    })
                }
                message_input.value = '';
                message_input.focus();
            }
        });
        socket.on('receiveMessage', function(data) {
            var newMSG = '<div class="usermsg"><h2>'+data.user+' : ' + data.message + ' </h2></div>';
            document.getElementById('messagelist').insertAdjacentHTML('beforeend',newMSG);
        });

    </script>

     <h1 class="post">Chat with: {{ friend }}</h1>

    <div id="messagelist" class="messagelist">
    {% for msg in msgsALL %}
        {% if msg[2] == sendersID %}
            <div class="usermsg"><h2> You : {{ msg[1] }}</h2></div>
        {% else %}
            <div class="friendmsg"><h2>{{ friend }} : {{ msg[1] }}</h2></div>
        {% endif %}
    {% endfor %}
    </div><br>


    <form id="sendmessage" >
        <input type="text" id="message_input" placeholder="Message {{ friend }}">
        <button type="submit">Send</button>
    </form>
{% endblock %}