<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static' , filename='css/nav.css') }}">
</head>

<header>
  <nav class="bar">
    <ul>
      <li class="bar"><a href="/home">Home</a></li>
      <li class="bar"><a href="/CreatePost">Create Post</a></li>
      <li class="bar"><a href="/Friends">Friends</a></li>
      {% if userlevel == 'admin' %}
          <li class="bar"><a href="/AddAccount">Add User Account</a></li>
          <li class="bar"><a href="/blockedPosts">Blocked Posts</a></li>
      {% endif %}
        <li class="bar">
            <form action="/search" id="navSearch" method="post">
            <input type="text" name="search" id ="search" placeholder="Search...">
            <button type="submit" id="searchBtn">Search</button>
            </form>
        </li>
    <li class="bar" style="float:right"><a href="/logout">Sign Out</a></li>
    </ul>
  </nav>
</header>