<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static' , filename='css/nav.css') }}">
</head>

<header>
  <nav class="bar" style="width:20%">
    <ul>
      <li class="bar"><a href="/home">Home</a></li>
      <li class="bar"><a href="/CreatePost">Create Post</a></li>
      <li class="bar"><a href="/Friends">Friends</a></li>
      {% if userlevel == 'admin' %}
          <li class="bar"><a href="/AddAccount">Add User Account</a></li>
          <li class="bar"><a href="/blockedPosts">Blocked Posts</a></li>
      {% endif %}
    <li class="bar"><a href="/TopMarketItems">Popular Market Items</a></li>
    <li class="bar"><a href="/SearchMarketItems">Search Market Items</a></li>
    <li class="bar"><a href="/profile/{{ name }}">Profile</a></li>
    <li class="bar" style="float:right"><a href="/logout">Sign Out</a></li>
    </ul>
  </nav>
</header>