<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static' , filename='css/nav2.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="sidebar-right">
  <form action="/search" id="navSearch" method="post" class="search-form">
    <input type="text" name="search" id="search" placeholder="Search...">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="market-info">
    <p class="market-title">Top 5 CS:GO items currently being sold and bought on the Steam Community Market.</p>
    <div class="market-header">
      <span>Item Name</span>
      <span>Current Price</span>
    </div>
    <div class="market-list">
      {% for item in navMarketItems %}
        <div class="market-item">
          <img src="https://community.akamai.steamstatic.com/economy/image/{{(item.asset_description).icon_url}}/360fx360f" alt="Item Icon"/>
          <span class="item-name">{{item.hash_name}}</span>
          <span class="item-price">{{item.sale_price_text}}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</nav>
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav2.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">