{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/profile.css') }}">
{% endblock %}

{% block content %}
    <h1 style="color:white";>
            <img id="profileimg" src="{{ userSteamInfo.avatar }}" height="100px"/> {{profilepagename}}<br>
        {% if userSteamInfo.name =="" %}
        <center><h3>Known as {{ userSteamInfo.name }} on Steam</h3></center>
        {% endif %}
    </h1>
    {% if profilepagename!=name %}
        {% if isFriend=="False" %}
        <center><form id="addfriendForm" method="post" >
                            <input type="hidden" id="profilename" name="profilename" value="{{ profilepagename }}">
                            <input type="hidden" id="addfriend" name="addfriend">
                            <button id="addfriendbtn" type="submit">Add as a friend</button>
        </form></center>
        {% endif %}
        {% if isFriend=="True" %}
            <center><h3>You are friends with {{profilepagename}}</h3></center>
        {% endif %}
    {% endif %}
    {% if backpackValue=="backpack.tf is down" %}
        <h1 style="color:white";>
            Backpack.tf API is currently down or unreachable<br><br>
            Total Inventory Value is currently unavailable with {{ invCount }} items<br><br>
    </h1>
    {% else %}
    <h1 style="color:white";>
            Total Inventory Value is ${{ backpackValue }} with {{ invCount }} items<br><br>
    </h1>
    {% endif %}
    <section class="accordion">
    <input type="checkbox" name="collapse" id="handle1">
    <h2 class="handle">
        <label for="handle1">
            Show {{profilepagename}}'s posts
        </label>
    </h2>
    <div class="content">
    <div id="postlist" class="postlist">
    {% for post in posts %}
        {% if post.blocked=='false' %}
        <div id="currpost" class="currpost">
            {% if userlevel=='admin' %}
                    <center><br><form id="blockpost" method="post" >
                        <input type="hidden" id="postID" name="postID" value="{{ post.postID }}">
                        <input type="hidden" id="block" name="block">
                        <button type="submit">Block Post</button>
                    </form></center>
            {% endif %}
            <center><h3><p style="color:white";>{{post.description}}</p></h3></center>
            {% for user in users %}
                {% if post.uID == user.userID %}
                    <center><h2><a href="/profile/{{ user.username }}">{{ user.username }}</a></h2></center>
                {% endif %}
            {% endfor %}
            <div id="postcontent" class="postcontent">
            {% if post.image != None %}
	            <center><img src="data:{{post.mimetype}};base64,{{post.image}}" width="300"/></center>
            {% endif %}
            </div><br>

            <center><div id="commentlist"  class="commentlist">
            {% for comment in comments %}
                {% if comment.postID == post.postID %}
                    {% for user in users %}
                        {% if comment.commenterID==user.userID %}
                            <div class="comments"><h3><p>{{ user.username }}: {{ comment.textComment }}</p></h3></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
            </center><br>

            <center><form id="sendcomment" method="post">
                <input type="text" id="comment_input" name="comment_input" placeholder="Comment on post">
                <input type="hidden" id="comment" name="comment">
                <input type="hidden" id="postID" name="postID" value="{{ post.postID }}">
                <button type="submit" id="commentSend">Send</button>
            </form>
            </center>
            <br>
         </div>
         {% endif %}
    {% endfor %}
    </div>

    </div>
    </section>

    <section class="accordion">
    <input type="checkbox" name="collapse" id="handle2">
    <h2 class="handle">
        <label for="handle2">
            Show {{profilepagename}}'s inventory
        </label>
    </h2>
    <div class="content">

    <h4 style="min-height:55px"><p style="color:white"><span style="float:left;margin-left:2%">Item Name</span><span style="float:right;margin-right:2%"> Only showing marketable items</span></p></h4>
    {% for item in invItems %}
        {% if item.marketable==1 %}
        <h4><p style="color:white";><img id=itemimg2 src="https://community.akamai.steamstatic.com/economy/image/{{ item.icon_url }}/360fx360f"/><span style="float:left;margin-top:3%;margin-left:2%">{{item.market_name}}</span>  </p></h4>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}