% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" type = "text/css" href="{{ url_for ('static' , filename='css/post.css') }}">
{% endblock %}

{% block content %}
     <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static' , filename='css/login.css') }}">
    </head>
    <br>
    {% for image in post %}
    <p>{{image.filename}}</p>
    <img src="{{image.filename}}" />
    {% endfor %}

{% endblock %}}